<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793824129792-sv0r0fkcnpgb4r4m4c4h7l3kj7hltffn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793824129792-sv0r0fkcnpgb4r4m4c4h7l3kj7hltffn</string>
	<key>API_KEY</key>
	<string>AIzaSyDFikxZwyNHU6dWBpvrbDFRG2Qn34jVXzY</string>
	<key>GCM_SENDER_ID</key>
	<string>793824129792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ayl.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-21eef</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-21eef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793824129792:ios:0ef817ab67a04d39fff9e5</string>
</dict>
</plist>